# .github/workflows/stale-branches.yml

name: Stale Branches

on:
  push:
    branches:
      - main
  schedule:
    - cron: '17 14 * * 3'
    - cron: '0 9 * * 4-5'
    
permissions:
  contents: write

jobs:
  stale_branches:
    runs-on: ubuntu-latest
    if: github.event.schedule != '0 9 * * 4-5'
    steps:
    - name: Stale Branches
      uses: crs-k/stale-branches@v3.0.0
      with:
        repo-token: '${{ secrets.GITHUB_TOKEN }}'
        days-before-stale: 1
        days-before-delete: 2
        comment-updates: false
        max-issues: 0
        tag-committer: false
        compare-branches: 'info'
        branches-filter-regex: '^((?!dependabot))'